<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.spring.community.CommunityMapper">
 
    <select id="getCommunityList" parameterType="com.spring.community.form.CommunityForm" resultType="com.spring.community.dto.CommunityDto">
    
        SELECT COMMUNITY_SEQ 
             , COMMUNITY_RE_REF 
             , COMMUNITY_RE_LEV 
             , COMMUNITY_RE_SEQ 
             , COMMUNITY_WRITER 
             , COMMUNITY_SUBJECT 
             , COMMUNITY_CONTENT 
             , COMMUNITY_HITS
             , DEL_YN 
             , INS_USER_ID
             , CAST( DATE_FORMAT( INS_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS INS_DATE
             , UPD_USER_ID
             , CAST( DATE_FORMAT( UPD_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS UPD_DATE  
        FROM COMMUNITY.TB_COMMUNITY
        ORDER BY COMMUNITY_SEQ DESC
    
    </select>
    
    <delete id="updateCommunityHits" parameterType="com.spring.community.form.CommunityForm">
    
        UPDATE COMMUNITY.TB_COMMUNITY 
           SET COMMUNITY_HITS = COMMUNITY_HITS + 1             
             , UPD_USER_ID = 'NONMEMBER'
             , UPD_DATE = NOW()
         WHERE COMMUNITY_SEQ = #{community_seq}
    
    </delete>
    
    <select id="getCommunityDetail" parameterType="com.spring.community.form.CommunityForm" resultType="com.spring.community.dto.CommunityDto">
    
        SELECT COMMUNITY_SEQ 
             , COMMUNITY_RE_REF 
             , COMMUNITY_RE_LEV 
             , COMMUNITY_RE_SEQ 
             , COMMUNITY_WRITER 
             , COMMUNITY_SUBJECT 
             , COMMUNITY_CONTENT 
             , COMMUNITY_HITS
             , DEL_YN 
             , INS_USER_ID
             , CAST( DATE_FORMAT( INS_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS INS_DATE
             , UPD_USER_ID
             , CAST( DATE_FORMAT( UPD_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS UPD_DATE  
        FROM COMMUNITY.TB_COMMUNITY
        WHERE COMMUNITY_SEQ = #{community_seq}
    
    </select>
        
    <insert id="insertCommunity" parameterType="com.spring.community.form.CommunityForm">
    
        INSERT 
          INTO COMMUNITY.TB_COMMUNITY 
             (
                  COMMUNITY_RE_REF
                  , COMMUNITY_RE_LEV
                  , COMMUNITY_RE_SEQ
                  , COMMUNITY_WRITER
                  , COMMUNITY_SUBJECT
                  , COMMUNITY_CONTENT
                  , INS_USER_ID
                  , INS_DATE
                  , UPD_USER_ID
                  , UPD_DATE
              ) 
        VALUES 
             (
                 0
                , 0
                , 0
                , #{community_writer}
                , #{community_subject}
                , #{community_content}
                , 'NONMEMBER'
                , NOW() 
                , 'NONMEMBER'
                , NOW() 
              )
    
    </insert>
    
    <delete id="deleteCommunity" parameterType="com.spring.community.form.CommunityForm">
    
        DELETE 
          FROM COMMUNITY.TB_COMMUNITY 
         WHERE COMMUNITY_SEQ = #{community_seq}
    
    </delete>
    
    <delete id="updateCommunity" parameterType="com.spring.community.form.CommunityForm">
    
        UPDATE COMMUNITY.TB_COMMUNITY 
           SET COMMUNITY_SUBJECT = #{community_subject}
             , COMMUNITY_CONTENT = #{community_content}
             , UPD_USER_ID = 'NONMEMBER'
             , UPD_DATE = NOW()
         WHERE COMMUNITY_SEQ = #{community_seq}
    
    </delete>
    
</mapper>
